@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@400;700&display=swap");

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Arimo", sans-serif;
  background-color: #21212b;
  margin: 0;
  padding: 100px 0;
  display: flex;
  justify-content: center;
}
